.savedPasswordContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #222;
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
}

.savedPasswordContainer h1 {
    padding: 10px;
}

.savedPasswordContainer span {
    padding: 10px;
    margin: 10px;
}

.delete-btn {
    color: red;
}

.delete-btn:hover {
    cursor: pointer;
    color: #A10303
}

h1 {
    color: #6242f4;
}

span {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #6242f4;
}